.fs-20{
    font-size: 20px;
}

ul li{
    list-style:none;
}

.fs-40{
    font-size: 40px;
}

#img-bg1{
    background-image: url('https://i.imgur.com/32wL316.gif');
    min-height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg2{
    background-image: url('https://i.imgur.com/KbaCK21.gif');
    min-height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg3{
    background-image: url('https://i.imgur.com/g2U7Gnh.gif');
    min-height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg4{
    background-image: url('../../assets/img/Team_Teste.gif');
    min-height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg5{
    background-image: url('https://i.imgur.com/IpJv0ma.jpg');
    min-height: 337px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.min-h{
    min-height: 240px;
}

.margin-l{
    margin-right: 130px;
}

.fs-20{
    font-size: 20px;
}


/* *{
    border: solid 1px red;
}

.section{
    border: solid 2px blue;
} */

/* @media(max-width: 1024px){
    .wh-video{
        width: 420px;
        right: 150px;
    }

    .section{
        border: solid 1px yellow;
        margin: 0;
        
    }

    .section a{
        padding: 0;
    }

    p{
        padding: 10px !important;
    }

    ul{
        padding: 10px;
    }
}

@media(max-width: 768px){
    .wh-video{
        width: 345px;
        right: 150px;
    }

    .section{
        border: solid 1px yellow;
        margin: 0;
        
    }

    .section a{
        padding: 0;
        justify-content: center;
    }
}

@media(max-width: 540px){
    *{
        margin: 0;
        
    }

    .wh-video{
        width: 330px;
        right: 150px;
    }

    .section{
        border: solid 1px yellow;
        margin: 0;
        
    }

    .section a{
        padding: 15px 20px 15px 30px;
        justify-content: center;
    }
}

@media(max-width: 414px){
    .wh-video{
        width: 320px;
        right: 150px;
    }

    *{
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 320px){
    .wh-video{
        width: 300px;
        right: 150px;
    }

    *{
        margin: 0;
        padding: 0;
    }


    .section{
        border: solid 1px blue;
        margin: 0;
        
    }

    .section a{
        padding: 15px 20px 15px 30px;
        justify-content: center;
    }
}

@media(max-width: 360px){
    .wh-video{
        width: 300px;
        right: 150px;
    }

    *{
        margin: 0;
        padding: 0;
    }

    .section{
        border: solid 1px yellow;
        margin: 0;
        
    }

    .section a{
        padding: 15px 20px 15px 30px;
        justify-content: center;
    }
}

@media(max-width: 375px){
    .wh-video{
        width: 300px;
        right: 150px;
    }

    *{
        margin: 0;
        padding: 0;
    }
}


@media(max-width: 280px){
    .wh-video{
        width: 220px;
        right: 150px;
        
    }

    *{
        margin: 0;
        padding: 0;
    }

} */