<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text-center my-4"><strong>SOBRE O MADE IN ROÇA</strong></h1>
            <p class="text-justify">Made in Roca é um E-commerce responsável em interligar o agricultor diretamente ao
                consumidor final.​ Tem a intenção de empoderar o pequeno produtor e trazer para o cliente um consumo por
                preço justo. ​Uma alternativa rentável sem necessidade de se preocupar com a criação do e-commerce e
                hospedagem.​​ Temos como princípio facilitar a vida do morador da cidade urbana trazendo ferramentas e
                pensando sempre na solução para uma vida mais calma e equilibrada.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/DRARIhi.gif" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
    </div>

    <hr>
    <div class="row">
        <!-- MISSAO -->
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>MISSÃO</strong></h3>
            <h5 class=" text-conteudo text-justify text-center my-4 mb-5">Nossa meta é superar os obstáculos em
                adquirir um
                alimento fresco e de qualidade vindo diretamente da horta, auxiliando o pequeno
                produtor e estimulando a agricultura Familiar</h5>
        </div>
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="https://i.imgur.com/vQY8lFN.gif" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>

        <!-- VISAO -->
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="https://i.imgur.com/hBkVE1x.gif" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>VISÃO</strong></h3>
            <h5 class=" text-conteudo text-justify text-center my-4 mb-5">Contribuir para o desenvolvimento do
                pequeno agricultor e estimular a agricultura familiar, oferecer um produto de boa qualidade e nutritivo
                ao consumidor final</h5>
        </div>

        <!-- VALORES -->
        <div class="col-md-6 div-topicos">
            <h3 class="text-center text-titulo titulo-topicos mt-5"> <strong>VALORES</strong></h3>
            <h5 class=" text-conteudo text-justify text-center my-4 mb-5">
                Motivados a superar desafios a cada colheita, acreditamos na valorização e respeito às pessoas, pois
                juntos somos mais fortes, respeitando o meio ambiente, pensando no Amanhã;</h5>
        </div>
        <div class="col-md-6 justify-content-center align-items-center img-container">
            <img src="https://i.imgur.com/1F5EUkz.gif" style="max-width: 350px; max-height: 350px;"
                alt="imagem de um time de senvolvimento">
        </div>
    </div>
</div>

<div class="container my-4 pb-2" style="background-color: #F5F8F0;">
    <div class="row flex-wrap d-flex justify-content-center align-items-center">
        <div class="py-4" style="width: 450px; height: 300px;">
            <h2 class="text-center text-success my-3" style="color: #A6995B;">Principal apoiador</h2>
            <h5 class="text-justify text-generation"> A generation possui a missão de apoiar jovens a construírem
                carreiras sustentáveis e prósperas, além de fornecer aos empregadores uma rede de talentos altamente
                qualificados e motivados, visando aprimorar os resultados de seus negócios.</h5>
        </div>
        <div class=" d-flex embed-responsive embed-responsive-21by9" style="width: 450px; height: 300px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kdGWKGM7yoA" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-success mb-3 mt-5" style="color: #A6995B;">Equipe Desenvolvedora</h2>
            <hr>
        </div>
    </div>
    <div class="row flex-wrap justify-content-center d-flex align-items-center">
        <!-- BEATRIZ MARTINS -->
        <div class="card d-flex align-items-center justify-content-center card-beatriz m-3">
            <img class="foto-membro" src="https://i.imgur.com/iUlSEXt.png" style=" margin: 15px;"
                alt="Foto da integrante Beatriz Martins">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>Beatriz Martins</strong></h4>
                <p class="card-text text-center">Comunicativa, criativa, dedicada e bem-humorada, trabalha bem em equipe. Gosta de andar de patins e tem
                    uma cachorra linda chamada amora. </p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://www.facebook.com/be4trizzzz">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/martins-beatriz/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/martins-bea"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- EWERTON LIMA -->
        <div class="card d-flex align-items-center justify-content-center card-ewerton m-3">
            <img class="foto-membro" src="https://i.imgur.com/6Yt4nle.png" style=" margin: 15px;"
                alt="Foto da integrante Ewerton Lima">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>Ewerton Lima</strong></h4>
                <p class="card-text text-center">A disciplina é sua principal virtude. Disposto a encarar novos desafios
                    e firme no seu propósito, sempre acompanhando e apoiando a equipe.</p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://pt-br.facebook.com/ewerton.i.lima">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/ewertonilima/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/EwertonILima"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- FERNANDA AGAPITO -->
        <div class="card d-flex align-items-center justify-content-center card-fernanda m-3">
            <img class="foto-membro" src="https://i.imgur.com/aDuWeYG.png" style=" margin: 15px;"
                alt="Foto da integrante Fernanda Agapito">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>Fernanda Agapito</strong></h4>
                <p class="card-text text-center">Resiliente, Mãe, uma recém nascida na tecnologia,
                    persistente. Já cruzou o. Atlântico e o Mar Mediterrâneo. Gosta de
                    ajudar as pessoas</p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="#">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/fernandaagapito/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/Fer-nanda20"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- HELOISA BEATRIZ -->
        <div class="card d-flex align-items-center justify-content-center card-ewerton m-3 card-heloisa">
            <img class="foto-membro" src="https://i.imgur.com/cRPjZ40.png" style=" margin: 15px;"
                alt="Foto da integrante Heloisa Beatriz">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>Heloisa Beatriz</strong></h4>
                <p class="card-text text-center">Cursando ADS, ama andar de bicicleta, escutar
                    musica, ler livros e dormir nas horas vagas (quase a todo
                    momento). Viajou para o Parána.</p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://www.facebook.com/heloisa.costa.7374/">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/heloisa-beatriz-515139197/"><img
                        class="social-icon" src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/Helloisa22"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- IGOR GATO -->
        <div class="card d-flex align-items-center justify-content-center card-ewerton m-3 card-igor">
            <img class="foto-membro" src="https://i.imgur.com/pPTAbFg.png" style=" margin: 15px;"
                alt="Foto da integrante Igor Gato">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>Igor Gato</strong></h4>
                <p class="card-text text-center">Tecladista nas horas vagas e apaixonado por filmes de terror, curioso por natureza, autodidata. Aberto a novas experiências, busca sempre aprender algo novo. </p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://www.facebook.com/Igor.MateusQG">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/igor-gato/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/IgorGato"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
        <!-- JOSE JORGE -->
        <div class="card d-flex align-items-center justify-content-center card-ewerton m-3 card-jose">
            <img class="foto-membro" src="https://i.imgur.com/1jlmyqS.png" style=" margin: 15px;"
                alt="Foto da integrante José Jorge">
            <div class="card-body">
                <h4 class="card-title text-center"> <strong>José Jorge</strong></h4>
                <p class="card-text text-center">Apaixonado por tecnologia, busco sempre estar
                    antenado a novos desafios tecnológicos, meu objetivo é trazer
                    valor para as pessoas através da tecnologia.</p>
            </div>
            <div class="card-footer">
                <a target="_blank" href="https://www.facebook.com/junior.jorge.585">
                    <img class="social-icon" src="https://i.imgur.com/dCV7EWb.png" alt="Logo Facebook"></a>

                <a target="_blank" href="https://www.linkedin.com/in/jorgehauck/"><img class="social-icon"
                        src="https://i.imgur.com/OPizSxs.png" alt="Logo Linkdin"></a>

                <a target="_blank" href="https://github.com/jorgehauck"><img class="social-icon"
                        src="https://i.imgur.com/BdM31iY.png" alt="Logo Github"></a>
            </div>
        </div>
    </div>
    <hr>
</div>