<div class="container-fluid">
    <h1 class="text-center mb-3 mt-3" style="color: #A6995B;">Sobre Nós</h1>

<!--MISÃO VISÃO VALORES-->    
    <div class="row d-flex align-items-center">
    
        <div class="col-md-6 text-dark">

            <div class="row d-flex justify-content-center border border-secondary rounded">
                <div class="col-md-6">
                    <h3 class="text-center  fs-40" style="color: #A6995B;">Missão</h3>
                    <hr class="bg-dark">
                    <p class="fs-20 min-h text-justify">Nossa meta é superar os obstáculos em adquirir um alimento fresco e de qualidade vindo diretamente da horta,  auxiliando o pequeno produtor e estimulando a agricultura Familiar</p>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg1"></div>
    </div>

    <div class="row d-flex align-items-center">

            <div class="col-md-6" id="img-bg2"></div>
        <div class="col-md-6 text-dark">
            <div class="row d-flex justify-content-center border border-secondary rounded">
                <div class="col-md-6">
                    <h3 class="text-center fs-40" style="color: #A6995B;">Visão</h3>
                    <hr class="bg-dark">
                    <p class="fs-20 min-h text-justify">Contribuir para o desenvolvimento do pequeno agricultor e estimular a agricultura familiar, oferecer um produto de boa qualidade e nutritivo ao consumidor final</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center">
    
        <div class="col-md-6 text-dark border border-secondary rounded">

            <div class="row d-flex justify-content-center">

                <div class="col-md-6 ">
                    <h3 class="text-center fs-40" style="color: #A6995B;">Valores</h3>
                    <hr class="bg-dark">
                    <ul class="min-h">
                        <li class="decoration fs-20 text-justify">Valorização e Respeito às pessoas, Juntos Somos Mais;</li>
                        <li class="decoration fs-20 text-justify">Respeitar o meio ambiente, pensamos no Amanhã;</li>
                        <li class="decoration fs-20 text-justify">Motivados a superar desafios a cada colheita.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-bg3"></div>
    </div>
<!--/MISÃO VISÃO VALORES-->
</div>

<!--SOBRE A GENERATION-->
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">

            <hr class="bg-dark mt-4" style="width: 330px; margin-left: 20px;"> <h2 class="mr-5 mb-5 ml-5" style="color: #A6995B;">Nosso Apoiador</h2> <hr class="bg-dark mt-4" style="width: 400px; margin-left: 20px;">

            <div class="col-md-12">
                <div class="row align-items-center">

                    <div class="col-md-6 fs-20">

                        <p> Nossa missão é apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos empregadores uma rede de talentos altamente qualificados e motivados, visando aprimorar os resultados de seus negócios.</p>

                        <p>Nossa visão é possibilitar um emprego no início da carreira para todos os jovens em qualquer lugar do mundo.</p>

                    </div>

                    <div class="col-md-5">
                        <iframe title="vimeo-player" src="https://player.vimeo.com/video/328192920" width="540" height="300" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/SOBRE A GENERATION-->


<!--SOBRE A EQUIPE PARTE 1-->
<div class="container">
    <div class="row mt-5">
        <hr class="bg-dark mt-4" style="width: 340px; margin-left: 20px;"> <h2 class="mr-3 mb-5 ml-3" style="color: #A6995B;">Equipe Desenvolvedora</h2> <hr class="bg-dark mt-4" style="width: 340px; margin-left: 20px;">
    </div>
</div>

<div class="container ">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/Bia.png" alt="">
                <div class="text-content">
                    <h4>Beatriz Martins</h4>
                    <h5>Desenvolvedora FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/Ewertu2.png" alt="">
                <div class="text-content">
                    <h4>Ewerton Lima</h4>
                    <h5>Desenvolvedor FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/Fee.png" alt="">
                <div class="text-content">
                    <h4>Fernanda Agapito</h4>
                    <h5>Desenvolvedora FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--SOBRE A EQUIPE PARTE 2-->
<div class="container">
    
    <div class="row mt-5">
        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/JJ.png" alt="">
                <div class="text-content">
                    <h4>José Jorge</h4>
                    <h5>Desenvolvedor FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/Helo.png" alt="">
                <div class="text-content">
                    <h4>Heloisa Beatriz</h4>
                    <h5>Desenvolvedora FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-5">
            <div class="single-content">
                <img class="w" src="../../assets/img/Igor.png" alt="">
                <div class="text-content">
                    <h4>Igor Gato</h4>
                    <h5>Desenvolvedor FullStack Jr</h5>
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/facebook.png" alt="Logo facebook"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes-insta" src="../../assets/img/instagram.png" alt="Logo Instagram"></a>
                    
                    <a href="#"><img class="fa-fab icon-redes" src="../../assets/img/linkedin.png" alt="Logo Linkedin"></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/SOBRE A EQUIPE FIM-->
    

<!--SOBRE O PROJETO
<div class="col-md-6 mb-5 rounded border border-success">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h3 class="text-center text-success">Missão</h3>
        </div>
        <div class="col-md-8 mt-3 mb-3">
            <p>Conectar os pequenos agricultores diretamente ao consumidor final.</p>
        </div>
    </div>
</div>

<div class="col-md-5 mb-5 rounded border border-success">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h3 class="text-center text-success">Visão</h3>
        </div>
        <div class="col-md-8 mt-3 mb-3">
            <p >Contribuir para o desenvolvimento do pequeno agricultor e estimular a agricultura familiar, oferecer um produto de boa qualidade e nutritivo ao consumidor final.</p>
        </div>
    </div>   
</div>

<div class="col-md-5 mb-5 rounded border border-success">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h3 class="text-center text-success">Valores</h3>
        </div>
        <div class="col-md-8 mt-3">
            <ul>
                <li>Valorização e Respeito às pessoas, Juntos Somos Mais;</li>
                <li>Respeitar o meio ambiente, pensamos no Amanhã;</li>
                <li>Motivados a superar desafios a cada colheita.</li>
            </ul>
        </div>
    </div>
</div>
/SOBRE O PROJETO-->