<div class="container-fluid justify-content-center cetral">
    <h1 class="text-center text-success mb-3 mt-5" style="color: #A6995B;">Sobre Nós</h1>
    <hr>

<!--MISÃO VISÃO VALORES-->    
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <h3 class="text-center text-success fs-40 mt-5">Missão</h3>
                                <hr class="bg-dark">
                                <p class="fs-20 min-h text-justify">Nossa meta é superar os obstáculos em adquirir um alimento fresco e de qualidade vindo diretamente da horta,  auxiliando o pequeno produtor e estimulando a agricultura Familiar</p>
                            </div>
                            <div class="col-md-6" id="img-bg1"></div>
                        </div>
        
                            
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6" id="img-bg2"></div>
                            <div class="col-md-6">
                                <h3 class="text-center text-success fs-40 mt-5">Visão</h3>
                                <hr class="bg-dark">
                                <p class="fs-20 min-h text-justify">Contribuir para o desenvolvimento do pequeno agricultor e estimular a agricultura familiar, oferecer um produto de boa qualidade e nutritivo ao consumidor final</p>
                            </div>
                        </div>
        
        
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <h3 class="text-center text-success fs-40 mt-5" >Valores</h3>
                                <hr class="bg-dark">
                                <ul class="min-h">
                                    <li class="decoration fs-20 text-justify">Valorização e Respeito às pessoas, Juntos Somos Mais;</li>
                                    <li class="decoration fs-20 text-justify">Respeitar o meio ambiente, pensamos no Amanhã;</li>
                                    <li class="decoration fs-20 text-justify">Motivados a superar desafios a cada colheita.</li>
                                </ul>
                            </div>
                            <div class="col-md-6" id="img-bg3"></div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<!--/MISÃO VISÃO VALORES-->


<!--SOBRE A GENERATION-->
<div class="container teste">
    <div class="row mt-5">
        <hr class="bg-dark mt-4" style="width: 330px; margin-left: 20px;"> <h2 class="mr-5 mb-5 ml-5" style="color: #A6995B;">Nosso Apoiador</h2> <hr class="bg-dark mt-4" style="width: 400px; margin-left: 20px;">
    </div>
</div>

<div class="container mb-5 justify-content-center">
        <div class="row d-flex ">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="row align-items-center">
                            <div class="col-md-6 fs-20 teste">
                                <p> Nossa missão é apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos empregadores uma rede de talentos altamente qualificados e motivados, visando aprimorar os resultados de seus negócios.</p>

                                <p>Nossa visão é possibilitar um emprego no início da carreira para todos os jovens em qualquer lugar do mundo.</p>
                            </div>

                            <div class="col-md-4">
                                <iframe title="vimeo-player" class="d-flex wh-video" src="https://player.vimeo.com/video/328192920" width="500" height="300" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--/SOBRE A GENERATION-->


<!--SOBRE A EQUIPE-->
<div class="container teste ">
    <div class="row ">
        <hr class="bg-dark mt-4" style="width: 340px; margin-left: 20px;"> <h2 class="mr-3 mb-5 ml-3" style="color: #A6995B;">Equipe Desenvolvedora</h2> <hr class="bg-dark mt-4" style="width: 340px; margin-left: 20px;">
    </div>
</div>
<div class="container justify-content-center">
    <div class="row d-flex">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
            <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-4 distancia direita">
                            <div class="card" style="width: 18rem; height: 33rem; border: solid 1px #008B8B;">
                                <img src="https://i.imgur.com/iUlSEXt.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                                <div class="card-body">
                                <h2 style="font-size: 18px; font-weight: 900;">Beatriz martins</h2>
                                <p class="card-text">Atriz nas horas vagas, Scrum de primeira classe, tem uma cachorra linda chamada🐶, entusiasta nas horas vagas, trabalha em equipe e coragem é seu sobre nome</p>
                                <a target="_blank" class="" class="mb-5 ml-5 mr-2" href="https://www.facebook.com/be4trizzzz"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                                <a target="_blank" class="mr-2" href="https://www.instagram.com/be4trizzzz/"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a target="_blank" href="https://www.linkedin.com/in/martins-beatriz/"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 distancia direita">
                            <div class="card" style="width: 18rem;height: 33rem; border: solid 1px #00CD66;">
                                <img src="https://i.imgur.com/6Yt4nle.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                                <div class="card-body">
                                <h2 style="font-size: 18px; font-weight: 900;">Ewerton Lima</h2>
                                <p class="card-text">🏋️Natural, 🏆Você define seus limites! Motivação, conhecedor da area da comunicação, viajei para o mexico, Quase um personal Trainer, churrasqueiro.</p>
                                <a class="mb-5 ml-5 mr-2" target="_blank" href="https://pt-br.facebook.com/ewerton.i.lima"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                            
                                <a target="_blank" class="mr-2" href="https://www.instagram.com/ewertonilima"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a target="_blank" href="https://www.linkedin.com/in/ewertonilima/"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 direita">
                            <div class="card" style="width: 18rem; height: 33rem; border: solid 1px #1874CD;">
                                <img src="https://i.imgur.com/aDuWeYG.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                                <div class="card-body">
                                <h2 style="font-size: 18px; font-weight: 900;">Fernanda Agapito</h2>
                                <p class="card-text">👼Mãe de duas pequenas crianças👼, dona de casa e dedicada, batalhadora e persistente, viajei para Mar Mediterrâneo.</p>
                                <a class="mb-5 ml-5 mr-2" href="#"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                            
                                <a href="#" class="mr-2"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a href="#"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
            <div class="col-md-10">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 distancia direita">
                    <div class="card" style="width: 18rem; height: 33rem; border: solid 1px #EE7600;">
                        <img src="https://i.imgur.com/1jlmyqS.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                        <div class="card-body">
                        <h2 style="font-size: 18px; font-weight: 900;">José Jorge</h2>
                                <p class="card-text">Sobre o JJ: Ensino Superior completo em ADS, Acompanhar o mercado financeiro 📈, certificação ANBIMA CPA20; Wanda Vision na veia.</p>
                                <a class="mb-5 ml-5 mr-2" target="_blank" href="https://www.facebook.com/junior.jorge.585"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                            
                                <a target="_blank" class="mr-2" href="https://www.instagram.com/josejorgehauckjunior28/"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a target="_blank" href="https://www.linkedin.com/in/jorgehauck/"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 distancia direita">
                            <div class="card" style="width: 18rem; height: 33rem; border: solid 1px #7A378B;">
                                <img src="https://i.imgur.com/cRPjZ40.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                                <div class="card-body">
                                <h2 style="font-size: 18px; font-weight: 900;">Heloisa Beatriz</h2>
                                <p class="card-text">Cursando ADS, amo andar de bicicleta🚲, escutar musica, Ler livros, dormir nas horas vagas(quase a todo momento), viajei para o Parána.</p>
                                <a class="mb-5 ml-5 mr-2" target="_blank" href="https://www.facebook.com/heloisa.costa.7374/"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                            
                                <a target="_blank" class="mr-2" href="https://www.instagram.com/poxahello/"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a target="_blank" href="https://www.linkedin.com/in/heloisa-beatriz-515139197/"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 direita">
                            <div class="card" style="width: 18rem; height: 33rem; border: solid 1px #EEEE00">
                                <img src="https://i.imgur.com/IaaC2WE.png" style="width: 260px; height: 260px; margin: 15px;" alt="Foto da integrante Beatriz Martins">
                                <div class="card-body">
                                <h2 style="font-size: 18px; font-weight: 900;">Igor Gato</h2>
                                <p class="card-text">Sobre o Igor: Cursando ADS, ama gatos, sou calmo, Wanda Vision, marvel de carterinha, passeio ao ar livre, tecladista amador🎹, gosta de natureza.</p>
                                <a target="_blank" class="mb-5 ml-5 mr-2" href="https://www.facebook.com/Igor.MateusQG"><img class="icon-redes" src="https://i.imgur.com/QuyyZ8V.png" alt="Logo facebook"></a>
                            
                                <a target="_blank" class="mr-2" href="https://www.instagram.com/igormqg/"><img class="icon-redes-insta" src="https://i.imgur.com/aYDAjuF.png" alt="Logo Instagram"></a>
                                
                                <a target="_blank" href="https://www.linkedin.com/in/igor-gato/"><img class="icon-redes" src="https://i.imgur.com/uHkWCMf.png" alt="Logo Linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/SOBRE A EQUIPE FIM-->


<!--BREVE DESCCRIÇÃO SOBRE A EQUIEP-->
<div class="container">

<div class="container teste">
        <div class="row ">
            <hr class="bg-dark mt-4" style="width: 330px; margin-left: 20px;"> <h2 class="mr-5  ml-5" style="color: #A6995B;">Sobre a Equipe</h2> <hr class="bg-dark mt-4" style="width: 400px; margin-left: 20px;">
        </div>
</div>
    
<div class="container justify-content-center mb-4">
            <div class="row d-flex ">
                <div class="col-md-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="row align-items-center">
            
                                <div class="col-md-6 fs-20 teste">
            
                                    <p>Nos da equipe Made in roca temos como meta a mudança no transporte de alimentos saudáveis para os consumidores da cidade grande que pela correria do seu dia a dia não podem sair para efetuar suas compras semanais dando abertura para alimentos gordurosos e não saudáveis. Temos como princípio facilitar a vida do morador de cidade urbana criando assim ferramentas e soluções para facilitar assim a vida de nossos clientes. Temos visão de criação, criatividade e superação composta por essa equipe de garra e fibra pensando sempre na solução da população para uma vida mais calma e equilibrada.</p>
                                </div>
            
                                <div class="col-md-6 wh-video">
                                    <img class="team" src="../../assets/img/Team.gif" alt="Foto de integrantes em equipe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<!--/BREVE DESCCRIÇÃO SOBRE A EQUIEP-->
</div>