<div class="container">
    <div class="row">
        <div class="col-md-3 align-items-center mt-5 d-flex">
            
            <div class="card efeitoFruta" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/maça.jpg" alt="maça">
                <div class="card-body">
                  <h5 class="card-title">Maçã</h5>
                  <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="mb-2">
                      <p class="card-text negrito">Preço: R$2.50</p>
                  </div>
                  <a href="#" class="btn btn-success" style="margin-left: 130px;">Comprar</a>
                </div>
              </div>
        </div>
        <div class="col-md-3 align-items-center mt-5 d-flex ">
            <div class="card efeitoFruta" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Uva.jpg" alt="Uva">
                <div class="card-body">
                  <h5 class="card-title">Uva</h5>
                  <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="mb-2">
                      <p class="card-text negrito">Preço: R$2.50</p>
                  </div>
                  <a href="#" class="btn btn-success" style="margin-left: 130px;">Comprar</a>

                </div>

              </div>
        </div>
        <div class="col-md-3 align-items-center mt-5 d-flex">
            <div class="card efeitoFruta" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Pessego.jpg" alt="Pessego">
                <div class="card-body">
                  <h5 class="card-title">Pêssego</h5>
                  <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="mb-2">
                      <p class="card-text negrito">Preço: R$2.50</p>
                  </div>
                  <a href="#" class="btn btn-success" style="margin-left: 130px;">Comprar</a>
                </div>
              </div>
        </div>
        
        <div class="col-md-3 align-items-center mt-5 d-flex">
            <div class="card efeitoFruta" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/laranja.jpg" alt="laranja">
                <div class="card-body">
                  <h5 class="card-title">Laranja</h5>
                  <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="mb-2">
                      <p class="card-text negrito">Preço: R$2.50</p>
                  </div>
                  <a href="#" class="btn btn-success" style="margin-left: 130px;">Comprar</a>
                </div>
              </div>
        </div>
    </div>

</div>