<div class="container">
  <div class="row">
    <div class="col-md-12 justify-content-center d-flex">

      <ul class="nav justify-content-center mt-5">
        <li class="nav-item">
            
          <a class="nav-link active" href="#"><img class="tamanhoCategoria categoriaPosicao" src="../../assets/svg/cesta.svg" alt="cesta">
            <p class="text-center d-flex link">Todos os produtos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="#"><img class="tamanhoCategoria" src="../../assets/svg/fruits.svg" alt="frutas">
            <p class="text-center align-items-center ml-1 link">Frutas</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="#"><img class="tamanhoCategoria" src="../../assets/svg/vegetable.svg" alt="vegetais">
            <p class="text-center link">Vegetais</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="#"><img class="tamanhoCategoria" src="../../assets/svg/cabbage.svg" alt="hortaliças">
            <p class="text-center link">Hortaliças</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">

      <!--Cards-->
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/maça.jpg" alt="maça">
        <div class="card-body">
          <h5 class="card-title">Maçã</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$2.50</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeMaca" id="qtdeMaca" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Uva.jpg" alt="Uva">
        <div class="card-body">
          <h5 class="card-title">Uva</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$2.50</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeUva" id="qtdeUva" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Pessego.jpg" alt="Pessego">
        <div class="card-body">
          <h5 class="card-title">Pêssego</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$2.50</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdePessego" id="qtdePessego" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/laranja.jpg" alt="laranja">
        <div class="card-body">
          <h5 class="card-title">Laranja</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$2.50</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeLaranja" id="qtdeLaranja" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/alface.jpg" alt="alface">
        <div class="card-body">
          <h5 class="card-title">Alface</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeAlface" id="qtdeAlface" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/brocolis (1).jpg" alt="brócolis">
        <div class="card-body">
          <h5 class="card-title">Brócolis</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeBrocolis" id="qtdeBrocolis" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/couve-flor.jpg" alt="couve-flor">
        <div class="card-body">
          <h5 class="card-title">Couve-flor</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeCouveFlor" id="qtdeCouveFlor" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/repolho.jpg" alt="repolho">
        <div class="card-body">
          <h5 class="card-title">Repolho</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeRepolho" id="qtdeRepolho" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Abóbora.jpg" alt="abóbora">
        <div class="card-body">
          <h5 class="card-title">Abóbora</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeAbobora" id="qtdeAbobora" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/beterraba.jpg" alt="beterraba">
        <div class="card-body">
          <h5 class="card-title">Beterraba</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeBeterraba" id="qtdeBeterraba" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/pepino.jpg" alt="pepino">
        <div class="card-body">
          <h5 class="card-title">Pepino</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdePepino" id="qtdePepino" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Quiabo.jpg" alt="quiabo">
        <div class="card-body">
          <h5 class="card-title">Quiabo</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtdeQuiabo" id="qtdeQuiabo" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/espinafre.jpg" alt="espinafre">
        <div class="card-body">
          <h5 class="card-title">Espinafre</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtde" id="qtde" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/chuchu.jpg" alt="chuchu">
        <div class="card-body">
          <h5 class="card-title">Chuchu</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtde" id="qtde" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Hortelã.jpg" alt="hortelã">
        <div class="card-body">
          <h5 class="card-title">Hortelã</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtde" id="qtde" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 align-items-center mt-5 d-flex justify-content-center">
      <div class="card efeitoFruta" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/pimenta.jpg" alt="pimenta">
        <div class="card-body">
          <h5 class="card-title">Pimenta Malagueta</h5>
          <p class="card-text text-center">Um exemplo de texto rápido para construir o título do card e fazer preencher
            o conteúdo do card.</p>
          <div class="mb-2">
            <p class="card-text negrito">Preço: R$8.00</p>
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="number" name="qtde" id="qtde" placeholder="Quantidade">
          </div>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-success">Comprar</a>
          </div>
        </div>
      </div>
    </div>



  </div>
  <!--/Cards-->
</div>
<hr style="background-color: #89A61F;">
