* {
    font-family: "public sans", sans-serif;
}


.efeitoFruta:hover {
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,.5));
}

.efeitoFruta {
    transition: all 0.5s;
    cursor: pointer;
}

.tamanhoCategoria {
    width: 60px;
    height: 60px;
}

.categoriaPosicao {
    margin-left: 37px;
}


.link {
    color: #000;
    
}


.btn-comprar-carousel{
    background-color: #57732D;
    border: solid 2px #57732D;
    color: white;
}

.card-title {
    color: #402222;
}