<div class="container-fluid">
  <div class="row justify-content-center d-flex align-items-center row-externa">
    <div class="col-md-5 mb-5 mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 align-items-center card-forms mx-5">
          <h1 class="text-start text-center font-weight-bold">Cadastrar</h1>

          <div class="form-group">
            <label for="nome ">Nome Completo</label>
            <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome"
              placeholder="Insira seu nome completo">
          </div>

          <div class="form-group">
            <label for="Email">E-mail</label>
            <input [(ngModel)]='usuario.usuario' [(ngModel)]='usuario.email' class="form-control" type="text" name="email" id="email"
              placeholder="Insira seu e-mail">
          </div>

          <div class="form-group">
            <label for="Senha">Senha</label>
            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
              placeholder="Digite sua senha">
              <small id="passwordHelpInline" class="text-muted">
                Deve ter entre 6 e 20 caracteres.
              </small>
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmSenha"
              id="confirmSenha" placeholder="Confirme sua senha">
          </div>

          <div class="form-group">
            <label for="foto">Foto</label>

            <input [(ngModel)]='usuario.foto' name="foto" class="form-control" id="foto"
              placeholder="Insira o link da sua foto">
          </div>


          <form class="was-validated">
          <div class="custom-control custom-checkbox ml-1 mb-3 ">
            <input (change)='changeEvent($event)' type="checkbox" class="custom-control-input" id="customControlValidation1" required>
            <label class="custom-control-label" style="color:#0a0a0a;" for="customControlValidation1"> Concordo com <a class="termos-link" data-toggle="modal" data-target=".bd-example-modal-lg" >os termos e condições. </a></label>
            <div class="invalid-feedback">Você deve concordar, antes de continuar.</div>
          </div>
          </form>

          
          

          <div class="d-flex justify-content-center">
            <button [disabled]='termos' type="submit" class="btn btn-entrar mb-2" style="height: 42px;" (click)='cadastrar()' (click)='cadastrarCheck()' ><span>Cadastrar</span></button>
          </div><div class="mt-3 mb-">
            
            <p class="text-center" style=" margin-top:-5px; font-size:small">
              Já tem uma conta? <a routerLink="/login">Entre aqui.</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" >
        <div id="termos">
          <div class="text-justify mt-2 " style="font-size:small">
            <h4>Termos e
              condições
              gerais de uso dos sites</h4>

            <p>
            <h5>1. Acesso e Uso do Site</h5>
            <p>Você, ao acessar quaisquer páginas do Site, ou finalizar seu cadastro para realizar sua primeira compra
              ou
              venda na made-in-roca.herokuapp.com ou cadastrar seu e-mail individual para recebimento de nossas
              mensagens,
              estará concordando automaticamente com todas as disposições destes Termos. Se Você não concordar com o
              todo
              ou
              parte do conteúdo dos Termos, ou de quaisquer alterações realizadas nestes, deverá imediatamente abster-se
              de
              utilizar o Site.
              Em caso de dúvidas envie e-mail para madeinrocagroup@gmail.com</p>
            <h5>01 - Objeto</h5>
            <p>Os serviços objeto dos presentes Termos e Condições gerais consistem em (i) ofertar produtos à venda e
              (ii)
              viabilizar o contato entre Usuários interessados em adquirir os produtos anunciados, por meio da
              plataforma
              de
              comércio eletrônico da made-in-roca.herokuapp.com. </p>
            <h5>02 - Capacidade para cadastrar-se</h5>
            <p>Os serviços da made-in-roca.herokuapp.com estão disponíveis apenas para as pessoas físicas ou jurídicas
              que
              tenham capacidade legal para comprar produtos por sites.
              É proibido o cadastro de Usuários que não tenham capacidade civil (com relação a pessoas físicas) ou não
              sejam
              os representantes legais ou estejam autorizados pelos representantes legais(com relação a pessoas
              jurídicas),
              bem como de Usuários que tenham sido suspensos da made-in-roca.herokuapp.com, temporária ou
              definitivamente,
              sem prejuízo da aplicação das sanções legais previstas no Código Civil Brasileiro, notadamente, art. 166,
              I;
              171, I e 180.</p>
            <h5>03 - Cadastro</h5>
            <p>Apenas será confirmado o cadastramento dos Usuários que preencherem todos os campos obrigatórios
              solicitados
              na(s) página(s) de cadastro de Usuários dos Sites, com informações exatas, precisas e verdadeiras. Ao
              confirmar o cadastro, os Usuários declaram serem verdadeiras as informações inseridas no cadastro e
              assumem
              o
              compromisso de atualizar os dados inseridos em seu cadastro (“Dados individuais”) sempre que houver
              qualquer
              alteração das informações de cadastro registrados no Site.
              Ao se cadastrarem na made-in-roca.herokuapp.com, os Usuários poderão utilizar todos os serviços
              disponibilizados pelo Site, declarando, para tanto, terem lido, compreendido e aceitado os respectivos
              Termos
              e Condições de uso dos Sites.
              A made-in-roca.herokuapp.com não se responsabiliza pela incorreção dos Dados de produtos e Individuais
              inseridos no cadastro pelos Usuários. Os Usuários garantem e respondem, em qualquer caso, civil e
              criminalmente pela veracidade, exatidão e autenticidade dos dados inseridos nos cadastros do Site.
              Os Usuários comprometem-se a notificar o Site imediatamente, e por meio seguro, a respeito de qualquer uso
              não
              autorizado de sua conta. O Usuário será o único responsável pelas operações efetuadas em sua conta direta.
            </p>
            <h5>04 - Modificações dos Termos e condições gerais</h5>
            <p>O conteúdo destes Termos poderão ser modificados a qualquer tempo e a nova versão deste documento entrará
              em
              vigor quando da sua publicação no Site. Você somente será comunicado sobre a alteração dos Termos se
              houver
              obrigação legal neste sentido. Por isso, recomendamos que Você verifique periodicamente seu conteúdo para
              manter-se atualizado sobre os Termos.
              Caso não concorde com os novos Termos, num prazo máximo de 5 (cinco) dias contados à partir da publicação
              no
              Site da nova versão dos Termos, Você deverá comunicar-se pelo e-mail madeinrocagroup@gmail.com
              manifestando
              formalmente as suas discordâncias e interrompendo imediatamente o uso do Site. Nesse caso, o vínculo
              contratual deixará de existir, desde que Você não tenha contas ou dívidas em aberto com o Site.
              Não havendo manifestação no prazo estipulado, entender-se-á que Você aceitou os novos Termos e condições
              gerais de uso e o contrato continuará vinculando as partes, com base nos novos Termos.
            </p>
            <h5>05 - Produtos anunciados</h5>
            <p>
              <strong>5.1 Processamento de pagamento</strong>
              O usuário declara e reconhece que o processamento de pagamentos depende do cumprimento de alguns
              procedimentos, como análise de risco e compensação bancária, a depender do meio utilizado. Em regra, os
              pagamentos por cartão de crédito são processados de forma mais rápida do que pagamentos realizados por
              boleto
              bancário.
            </p>
            <p>
              <strong>5.2 Inclusão de imagens, fotografias e vídeos</strong>
              O Site pode incluir imagens, fotografias e vídeos do produto oferecido sempre que estas correspondam
              exatamente ao produto anunciado.
              O Site declara ser possuidor do direito autoral das imagens, vídeos, fotografias, textos, informações e
              tudo
              mais inserido nas suas lojas, Produtos e Serviços, ou deter autorização expressa do detentor do direito
              autoral que garanta à utilização no Site, devendo se responsabilizar exclusivamente por eventual infração
              dos
              direitos de terceiros.
              A Raizs poderá, a qualquer momento, divulgar e/ou adaptar as imagens incluídas em seus anúncios para fins
              de
              classificação dos produtos no Site ou seus anúncios realizados fora do Site nas redes sociais e/ ou
              qualquer
              outro meio de comunicação.
            </p>
            <h5>06 - Privacidade da Informação</h5>
            <p>Toda informação ou Dado Individual do Usuário é armazenado em servidores ou meios magnéticos de alta
              segurança. Salvo com relação às informações que são publicadas no Site, a made-in-roca.herokuapp.com
              adotará
              todas as medidas possíveis para manter a confidencialidade e a segurança das informações sigilosas, porém
              não
              se responsabilizará por eventuais prejuízos que sejam decorrentes da divulgação de tais informações por
              parte
              de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para
              acessar
              as informações dos Usuários.
              Os Usuários expressamente autorizam que suas informações e Dados Individuais sejam compartilhados pelo
              Site
              com as demais empresas parceiras comerciais, membros do Programa de Proteção à Propriedade Intelectual,
              autoridades e pessoas físicas ou jurídicas que aleguem ter sido lesadas por Usuários.
            </p>
            <h5>07 - Obrigações dos Usuários</h5>
            <p>
              <strong>7.1 Obrigações dos Usuários Compradores</strong>
              O Usuário Comprador, após efetuar a compra receberá e-mail da made-in-roca.herokuapp.com que informará as
              etapas de processamento do pedido incluindo a sua entrega. O Usuário Comprador poderá desistir da compra
              até
              7
              dias da data do pedido, bastando para isso enviar email para madeinrocagroup@gmail.com com justificava,
              número
              do pedido, endereço, data. Após o recebimento dos produtos a made-in-roca.herokuapp.com vai apurar o valor
              a
              ser reembolsado que exclui serviços prestados, como transporte, e produtos eventualmente consumidos ou
              avariados.
              A made-in-roca.herokuapp.com se reserva o direito de estabelecer outras regras e procedimentos adicionais
              para
              Usuários para que esses possam comprar através do Site. Estas condições poderão incluir serviços
              oferecidos
              por terceiros, incluindo, eventualmente, o pagamento de tarifas por utilização de serviços.
            </p>
            <h5>08 - Violação no sistema ou da base de dados</h5>
            <p>Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a utilizar,
              reproduzir ou interferir nas atividades e operações do Site, bem como nos anúncios, descrições de
              produtos,
              contas ou seus bancos de dados. Qualquer intromissão, ou tentativa de intromissão ou atividade que viole
              ou
              contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos e
              condições gerais de uso, tornarão o responsável passível das ações legais pertinentes, bem como das
              sanções
              aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.</p>
            <h5>09 - Falhas no sistema</h5>
            <p>O Site não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelos Usuários em razão de
              falhas
              na internet, no sistema ou no servidor utilizado pelos Usuários, decorrentes de condutas de terceiros,
              caso
              fortuito ou força maior. O Site também não é responsável por qualquer vírus que possa atacar o equipamento
              dos
              Usuários em decorrência do acesso, utilização ou navegação na internet ou como consequência da
              transferência
              de dados, arquivos, imagens, textos, vídeos ou áudio.</p>
            <h5>10 - Tarifas e faturamento</h5>
            <p>O cadastro de Usuários nos sites é gratuito.
              O usuário concorda em pagar o Made In Roça os valores correspondentes a qualquer serviço prestado pelo
              Made
              In
              Roça em que haja uma tarifa estabelecida e previamente informada. O Sites se reserva o direito de
              modificar,
              aumentar ou excluir tarifas vigentes a qualquer momento, observado o estipulado na cláusula 4 ou durante
              promoções e outras formas transitórias de alteração dos preços praticados.
            </p>
            <h5>11 - Propriedade Intelectual e links</h5>
            <p>O uso comercial da expressão "made-in-roca.herokuapp.com”, “Made In Roça”, e “Made In Roça Orgânicos"
              como
              marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas relativas aos serviços da
              made-in-roca.herokuapp.com assim como os programas, aparência do Site, bancos de dados, redes, arquivos
              que
              permitem aos Usuários acessarem e usarem a sua Conta são propriedade da Prestadora e estão protegidos
              pelas
              leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso
              indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo a autorização prévia
              e
              expressa por escrito do Site.
              O Site pode manter links com outros sites, o que não significa que esses sites sejam de propriedade ou
              operados pela Prestadora. Não possuindo controle sobre esses sites de terceiros, razão pela qual a
              made-in-roca.herokuapp.com não será responsáveis pelos seus conteúdos, práticas e serviços ofertados. A
              presença de links para outros sites não implica relação de sociedade, de supervisão, de cumplicidade ou
              solidariedade da Prestadora para com esses sites e seus conteúdos.
            </p>
            <h5>12 - Política de entrega</h5>
           
              1. O prazo para entrega dos produtos é informado durante o procedimento de compra, contabilizado em
              dias
              úteis. A Made In Roça, usualmente, entregará os produtos entre às 7h e 13h, entretanto, poderá, dependendo
              da
              região com a qual teve origem o pedido, flexibilizar seus prazos de entrega, os entregando fora do horário
              estabelecido.
              <br>2. O Made In Roça responsabiliza-se a realizar a entrega no local informado pelo usuário. Caso não
              seja
              possível entregar o pedido na primeira tentativa, a Made In Roça entrará em contato com o usuário atrevés
              do
              email e telefone para agendar a data da próxima entrega.
              <br>3. É indispensável que, no endereço solicitado, haja uma pessoa autorizada pelo usuário, maior de 18
              anos,
              e portando documento de identificação para receber a mercadoria e assinar o protocolo de entrega.
              <br>4. Após a finalização do pedido não é possível alterar a forma de pagamento.
              <br>5. O valor do frete de entrega é calculado com base no local de entrega.
              <br>6. No caso de compra de bebidas alcoólicas a não apresentação de documento oficial de identidade com
              foto,
              com o fim de comprovar a maioridade, implicará na não entrega do produto.
           
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-termos py-1 px-3" data-dismiss="modal" >Continuar</button>
        </div>
        </div>
      </div>
    </div>