.pointerCursor {
    cursor: pointer;
}

.card-header {
    background-color: #347322;
}

.btn {
    color: azure;
    box-shadow: none;
}

.card-header:hover {
    background-color: #89A61F;
}

.border {
    background-color: #347322;
}

@media(max-width: 400px) {
    .imagem-responsiva {
        max-width: 400px;
    }
    @media(max-width: 300px) {
        .imagem-responsiva {
            max-width: 350px;
        }
    }
}