.pointerCursor {
    cursor: pointer;
}

.card-header {
    background-color: #57732d;
    
}
.btn {
    color: azure;
    box-shadow: none; 
}

.card-header:hover{
    background-color:#A6995B;
    color:white;
}

.border{
    background-color: #347322;
}
.text-faleConosco, .text-contato{
    color: #347322;
    font-weight: 300;
    
}

.btn-form{
    background-color: #57732d;
}

.btn-form:hover{
    background: #465e20;
}

.card-body{

    color: #402222;
}

