<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fale Conosco</title>
</head>


<body>
  <div class="container">
    <h2 class="mt-5 text-center text-faleConosco">FAQ - Perguntas Frequentes </h2>

    <hr>

    <div class="container justify-content-center">
      <div class="row pt-3">
        <div class="col-md-6">
          <h4 class="mt-3 title-faq text-center" style="color: #347322;">Clientes</h4>


          <!-- FQA ASSINANTE -->
          <div class="accordion mb-3 " id="accordionExample" data-spy="scroll">
            <div class="card ">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. POR QUÊ ALGUMAS FRUTAS, LEGUMES E VERDURAS FICAM INDISPONÍVEIS NO SITE ??
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p> Na nossa plataforma os produtores  cadastram produtos para venda de acordo com os itens que possuem e de acordo com a sua produção e colheita.
                  </p>
                  
                </div>
              </div>
            </div>

            

            <div class="card ">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    2. POR QUE AS FRUTAS/LEGUMES/VERDURAS VARIAM DE TAMANHO?
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>A produção está sujeita a variações, excesso de calor, de frio e chuvas, que podem atrapalhar o
                    ritmo de desenvolvimento das plantas, porém enquanto a natureza segue o ritmo normal as plantas costumam ser mais
                    generosas e fornecem frutos e legumes saborosos e de tamanhos generosos.
                  </p>
                </div>
              </div>
            </div>

            

            <div class="card ">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    3. QUAL SERÁ O DIA DA ENTREGA DOS PRODUTOS MADE IN ROÇA?
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p> O  dia de entrega será sempre 1 dia após a confirmação do pagamento do pedido e após confirmação com o produtos. Caso deseja alterar ou agendar data de entrega basta entrar em contato com a equipe Made In Roça através do formulário abaixo.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4. COMO É FEITA A ENTREGA DOS MEUS PRODUTOS?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body text-justify">
                  <p>As entregas são realizadas de segunda a sexta das <strong> 7h às 11h</strong>, aproveitamos o
                    frescor da
                    manhã para realizar nossas entregas e assim melhor conservar nossos produtos.
                  </p>
                  <p>
                    Efetuadas por nossos entregadores parceiros. Caso a entrega não possa ser efetuada por alguma
                    dificuldade, seja não encontrar o endereço ou até mesmo a ausência de alguém para receber, nós
                    entraremos
                    em contato mas, se não houver comunicação com você cliente o entregador
                    segue
                    viagem para não atrasar as demais entregas, mas não se preocupe pois a
                   reentrega será reagendada e <strong>!!ATENÇÃO !! Nesse caso iremos cobrar o frete novamente. </strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5. NÃO RECEBI MEU PEDIDO E AGORA?!
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Todas as entregas são realizadas de segunda a sexta. Sempre que o motorista não conseguir realizar a entrega, você receberá uma mensagem de Whatsapp e uma ligação da nossa equipe avisando que os seus orgânicos estão na porta da sua casa à sua espera. Caso não haja contato em 10 minutos, nosso motorista precisará seguir viagem para não atrasar os demais clientes da rota. Poderemos reagendar para outro dia conforme combinado com a equipe Made In Roça.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /FQA ASSINANTE -->



        <!-- FQA PRODUTOR-->
        <div class="col-md-6">
          <div class="accordion mb-3 " id="accordionExample" data-spy="scroll">
            <h4 class="mt-3 title-faq text-center "  style="color: #347322;"> Produtor Parceiro</h4>
            <div class="card ">
              <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    1. COMO POSSO ME TORNAR UM PRODUTOR PARCEIRO?
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <p> Efetue seu cadastro em nosso site, preencha todas as informações necessárias e esteja de acordo
                    com os nossos requisitos, aguarde em até 3 dias nossa equipe entrará em contato com você.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    2. COMO DEVEM SER AS FOTOS DOS MEUS PRODUTOS?
                  </button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                  <p> Devem ser bem nítidas, procure lugares claros,de preferência com fundo neutro e utilize a luz do sol a seu favor e escolha fundos
                    que contrastem com o seu produto a ser fotografado.
                  </p>
                  <P>Caso deseje ajuda entre em contato que podemos ajudar.</P>
                </div>
              </div>
            </div>

            <div class="card ">
              <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    3. COMO FUNCIONA O PROCESSO DE ENTREGA DO MEUS PRODUTOS COLHIDOS?
                  </button>
                </h2>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Temos entregadores parceiros que irão efetuar a coleta dos seus produtos, assim que você
                    disponibilizar para retirada.
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingNine">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    4. COMO EU RECEBO PELA VENDA DOS MEUS PRODUTOS?
                  </button>
                </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Você recebe automaticamente em sua conta cadastrada, apenas é cobrada a taxa de 8% sobre o valor do item + uma taxa fixa de R$ 3,50. 
                  </p>
                </div>
              </div>
            </div>

            <div class="card ">
              <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                    5. NÃO TENHO EXPERIÊNCIA COM QUALQUER TIPO TECNOLOGIA, MAS QUERO SER UM PRODUTOR PARCEIRO. COMO
                    FAÇO?
                  </button>
                </h2>
              </div>
              <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Não se preocupe, temos uma equipe preparada para te auxiliar e temos também vários vídeos e manuais
                    e informativos para te ajudar.
                  </p>
                  <p> <strong>Entre em contato com a gente no formulário abaixo!!!</strong> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /FQA PRODUTOR -->

      </div>
    </div>

    <!-- Form -->
    <div class="container-fluid mt-5">
      <h2 class=" text-contato text-center"  >Entre em contato</h2>
      <hr>
      <div class="row d-flex">
        <div class="col-md-6 mb-5">

          <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
          </div>
          <div class=" mt-3 mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
          </div>
          <div class=" mt-3 mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="assunto" class="form-control" id="exampleFormControlInput1" placeholder="Assunto">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
          </div>

          <button type="submit" class="btn btn-block btn-form mb-4">Enviar</button>
        </div>
        <div class=" container-fluid col-md-6 d-flex justify-content-center">

          <img class="image-fluid imagem-responsiva" src="https://i.imgur.com/fWAnFfN.gif"
            alt="Foto de um celular com a foto de uma mulher do lado esquerdo do celular tem três icones com as redes socias"
            width="500px" height="500px">

        </div>
      </div>
    </div>
  </div>
  <!-- /Form -->

</body>

</html>