<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fale Conosco</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5 text-center text-success">Fale Conosco</h1>
    <h4 class="mt-5 text-success">FAQ - Perguntas frequentes</h4>
    <hr>
    <!-- FQA -->

    <div class="accordion mb-3 " id="accordionExample" data-spy="scroll">
      <div class="card ">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              1. MEUS PEDIDOS
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p> </p>

            <p><strong>Consigo rastrear o minha Compra? </strong></p>

            <p> </p>

            <p>Sim. As informações mais atualizadas sobre sua Compra e a situação de entrega de sua Compra estão
              disponíveis em Meus pedidos. Além disso, você será notificado do andamento do seu pedido pelo e-mail
              informado. </p>

            <p> </p>

            <p><strong>Qual a empresa responsável pela entrega da minha Compra? </strong></p>

            <p> </p>

            <p>A escolha de qual destas empresas será responsável pelo transporte de seu pedido caberá exclusivamente à
              [NOME DA SUA EMPRESA AQUI], não tendo o Cliente nenhuma influência sobre tal decisão. É possível que, no
              futuro, a [NOME DA SUA EMPRESA AQUI] decida trabalhar com outras transportadoras, além dessas, ou que
              decida parar de trabalhar com essas transportadoras. </p>

            <p> </p>

            <p><strong>Posso adicionar outro produto à Compra que eu fiz? </strong></p>

            <p> </p>

            <p>Não, após finalizada, a Compra não poderá ser alterada. Para adquirir outro produto, você deverá iniciar
              uma nova Compra. </p>

            <p> </p>

            <p><strong>Não recebi todos os itens da minha Compra. O que faço? </strong></p>

            <p> </p>

            <p>Entre em contato com o nosso CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]) por telefone
              [TELEFONE AQUI] ou pelos outros meios de atendimento disponibilizados. </p>

            <p> </p>

            <p><strong>Posso efetuar uma Compra no Site com CNPJ? </strong></p>

            <p> </p>

            <p>Neste momento, não estamos trabalhando com esta opção. Apenas pessoas físicas podem se cadastrar no Site
              e efetuar Compras. A aquisição de produtos por meio de CNPJ pode ser feito no Televendas. Na loja física
              só é possível com cartão corporativo. </p>

            <p> </p>

            <p><strong>Como faço para confirmar a disponibilidade de um produto no estoque? </strong></p>

            <p> </p>

            <p>No Site, se houver carrinho de compras visível no momento da finalização do pedido, significa que há
              estoque do produto. </p>

            <p> </p>


            <p><strong>Qualquer pessoa pode receber o produto que eu comprei? </strong></p>

            <p> </p>

            <p>Sim, desde que seja maior de idade, esteja munido de um documento de identificação e assine o protocolo
              de entrega. </p>

            <p> </p>

            <p><strong>Existe um valor mínimo de pedido? </strong></p>

            <p> </p>

            <p>Não. </p>

            <p> </p>



            <p><strong>Posso alterar o endereço da entrega? </strong></p>

            <p> </p>

            <p>Sim, mas somente antes de concluir a Compra no Site. Depois de finalizada, a Compra não pode mais ser
              alterada. Em caso de dúvida, entre em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA
              AQUI]) por telefone [TELEFONE AQUI] ou pelos outros meios de atendimento disponibilizados. </p>

            <p> </p>

            <p><strong>Como é calculado o frete para meu pedido? </strong></p>

            <p> </p>

            <p>O valor do frete é calculado automaticamente, a partir dos produtos selecionados e do CEP da entrega do
              Cliente. A informação do valor do frete já calculado para determinado endereço e determinados produtos
              aparece para o Cliente no momento de finalização da Compra no Site. </p>

            <p> </p>

            <p><strong>Eu consigo mandar uma parte da Compra para um endereço e outra parte para outro? </strong></p>

            <p> </p>

            <p>Não. Todos os produtos adquiridos em determinada Compra serão entregues conjuntamente, no mesmo endereço.
              Para enviar produtos para dois endereços diferentes, será necessário realizar duas Compras diferentes, em
              momentos distintivos. </p>

            <p> </p>

            <p><strong>Posso incluir ou excluir produtos do carrinho de compras? </strong></p>

            <p> </p>

            <p>Sim, mas apenas até a finalização da Compra no Site. Para incluir, basta clicar no mais e, para excluir,
              na lixeira. Para alterar a quantidade de produtos dentro do carrinho de compras é necessário que você
              coloque a quantidade ( em números) que você deseja adquirir. </p>

            <p> </p>

            <p><strong>Posso retomar um carrinho de compras? </strong></p>

            <p> </p>

            <p>Sim, desde que os produtos nele indicados ainda estejam disponíveis em estoque, será possível recuperar o
              carrinho de compras e finalizar a Compra. </p>

            <p> </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2. PAGAMENTO
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p> </p>

            <p><strong>Quais são os meios de pagamentos disponíveis? </strong></p>

            <p> </p>

            <p>No momento, o Site aceita apenas cartões de crédito emitidos no Brasil de bandeiras Mastercard®, Visa® e
              American Express®. No futuro, a [NOME DA SUA EMPRESA AQUI] pretende adotar outros meios de pagamento.
              Essas mudanças serão divulgadas em nosso Site e refletidas em nossa Política de Pagamentos.</p>

            <p> </p>

            <p> </p>

            <p><strong>Qual o procedimento se houver pagamento em duplicidade? </strong></p>

            <p> </p>

            <p>Você pode entrar em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]) por telefone
              [TELEFONE AQUI] ou pelos outros meios de atendimento disponibilizados. Neste contato, você poderá
              solicitar o cancelamento do pagamento duplicado. Após análise, a [NOME DA SUA EMPRESA AQUI] requererá à
              operadora do cartão que faça o estorno, se devido. </p>

            <p> </p>

            <p><strong>E se o meu pagamento não for aprovado? </strong></p>

            <p> </p>

            <p>Você será notificado em até 48 horas e deverá inserir outro meio de pagamento. Caso contrário, a Compra
              no Site será cancelada. </p>

            <p> </p>

            <p><strong>Qual é o prazo de aprovação da Compra? </strong></p>

            <p> </p>

            <p>O prazo é de até 48 horas. </p>

            <p> </p>

            <p><strong>Posso alterar o cartão depois da finalização da Compra? </strong></p>

            <p> </p>

            <p>Não será possível este procedimento. </p>

            <p> </p>

            <p><strong>Quais são as formas de parcelamento? </strong></p>

            <p> </p>

            <p>Todas as Compras feitas no cartão de crédito podem ser parceladas em até 6</p>

            <p>(seis) vezes. </p>

            <p> </p>

            <p> </p>

            <p><strong>Como solicito a segunda via do DANFE (Documento Auxiliar da Nota Fiscal Eletrônica)?</strong></p>

            <p> </p>

            <p>Basta entrar em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]), por telefone
              [TELEFONE AQUI] ou pelos outros meios de atendimento disponibilizados. </p>

            <p><strong>Como solicitar a segunda via da Nota Fiscal? </strong></p>

            <p> </p>

            <p>Basta entrar em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]), por telefone
              [TELEFONE AQUI] ou pelos outros meios de atendimento disponibilizados.</p>

            <p> </p>

            <p><strong>Posso utilizar meu cartão emitido no exterior? </strong></p>

            <p> </p>

            <p>Não, aceitamos apenas cartões de crédito emitidos no Brasil. </p>

            <p> </p>

            <p><strong>Quais são os prazos para estorno? </strong></p>

            <p> </p>

            <p>A [NOME DA SUA EMPRESA AQUI] pedirá o estorno à administradora de cartões em um prazo não superior a 72
              (setenta e duas) horas. No entanto, você deverá aguardar o estorno na fatura. O estorno poderá acontecer
              em até duas faturas, de acordo com a política de cancelamento da administradora do cartão de crédito. </p>

            <p> </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              3. PRODUTOS
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p> </p>

            <p><strong>É possível encomendar um produto que não esteja à venda? </strong></p>

            <p> </p>

            <p>Sim. Há produtos que não estão disponíveis para venda no Site que podem ser encontrados no nosso
              Televendas [TELEFONE AQUI] ou em nossas lojas físicas. </p>

            <p> </p>

            <p><strong>Por que nem todos os produtos estão disponíveis para a compra? </strong></p>

            <p> </p>

            <p>A fim de manter um alto nível no atendimento aos seus Clientes, a [NOME DA SUA EMPRESA AQUI]
              disponibilizará no Site apenas determinados produtos. </p>

            <p> </p>

            <p><strong>O Site da [NOME DA SUA EMPRESA AQUI] pratica ofertas relâmpago? </strong></p>

            <p> </p>

            <p>Sim, você pode ver o item Promoções dos nossos Termos e Condições de Uso. Além disso, essas promoções
              serão sempre anunciadas em nosso Site com destaque, indicando o tempo e as condições de validade, e por
              e-mail para todos os cadastrados para receber essas informações. Fique atento às ofertas disponíveis no
              Site fora do horário comercial e cadastre seu e-mail para receber estas notificações. </p>

            <p> </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              4. CANCELAMENTOS, TROCAS E DEVOLUÇÕES
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <p> </p>

            <p><strong>Como trocar um produto do eCommerce? </strong></p>

            <p> </p>

            <p>Para trocar um produto adquirido no Site, vá pessoalmente a uma de nossas lojas físicas ou entre em
              contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]), por telefone [TELEFONE AQUI] ou
              pelos outros meios de contato disponibilizados. Para mais informações, acesse nossa Política de Trocas e
              Devoluções. </p>

            <p> </p>

            <p><strong>Posso trocar o produto via Televendas? </strong></p>

            <p> </p>

            <p>Sim, desde que os Produtos tenham o mesmo valor da compra realizada no Site. Caso contrário, vá
              pessoalmente a uma de nossas lojas físicas ou entre em contato com o CALM (Central de Atendimento [NOME DA
              SUA EMPRESA AQUI]), por telefone [TELEFONE AQUI] ou pelos outros meios de contato disponibilizados. </p>

            <p> </p>

            <p><strong>E se o produto que eu tiver que trocar não tiver mais no estoque? </strong></p>

            <p> </p>

            <p>Providenciaremos o cancelamento da Compra e o estorno do pagamento, nos termos de nossa Política de
              Trocas e Devoluções. </p>

            <p> </p>

            <p>Como devolver um produto?</p>

            <p>Como devolver um produto com defeito?</p>

            <p>Como fazer devolução de um produto por arrependimento ou desistência?</p>

            <p> </p>

            <p>Para fazer a devolução de um produto, basta ir a uma de nossas lojas físicas ou entrar em contato para
              obter um código de postagem para que você possa entregar o produto em uma agência dos Correios. Caso haja
              qualquer dúvida, entre em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]), por
              telefone [TELEFONE AQUI], ou pelos outros meios de contato disponíveis. O procedimento será o mesmo para
              devolução de produtos com defeito e para devolução por arrependimento ou desistência. Nesses casos, o
              prazo será de, no máximo, 7 (sete) dias. Para mais informações, consulte nossa Política de Trocas e
              Devoluções. </p>

            <p> </p>

            <p><strong>Quais as normas para devolução por Correios? </strong></p>

            <p> </p>

            <p>Inicialmente, você deve entrar em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]),
              por telefone [TELEFONE AQUI], ou pelos outros meios de contato disponíveis, e informar os motivos da
              devolução. Dependendo do caso, o CALM fornecerá um código de autorização de postagem, com o qual você
              poderá enviar o produto à [NOME DA SUA EMPRESA AQUI], de qualquer Agência de Correios Própria AC ou
              Agência Franqueada AGF, sem qualquer custo. Para mais informações, consulte nossa Política de Trocas e
              Devoluções. </p>

            <p> </p>

            <p><strong>Posso devolver um produto na loja física? </strong></p>

            <p> </p>

            <p>Sim, desde que o produto adquirido no Site atenda as condições estabelecidas em nossa Política de Trocas
              e Devoluções. </p>

            <p> </p>

            <p><strong>Como faço para cancelar minha compra? </strong></p>

            <p> </p>

            <p>Se você quiser cancelar sua compra, pode dirigir-se pessoalmente a uma de nossas lojas físicas ou entrar
              em contato com o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]), por telefone [TELEFONE AQUI],
              ou pelos outros meios de contato disponibilizados, e solicitar o cancelamento. Nos dois casos, nossos
              atendentes orientarão o Cliente com relação ao processo por completo. </p>

            <p> </p>

            <p><strong>Ressarcimento de valores de pedidos cancelados? </strong></p>

            <p> </p>

            <p>O ressarcimento será feito por meio de pedido de estorno do valor cobrado perante a administradora de
              cartão de crédito.</p>

            <p> </p>

            <p><strong>Após o período de troca e devolução, se o produto estiver com defeito o que eu devo
                fazer?</strong></p>

            <p> </p>

            <p>Você deve entrar em contato direto com o fabricante. Caso tenha algum problema, entre em contato com o
              CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]) por telefone [TELEFONE AQUI] ou pelos outros
              meios de atendimento disponibilizados. </p>

            <p> </p>

            <p><strong>Em que situações meu pedido pode ser cancelado? </strong></p>

            <p> </p>

            <p>Normalmente quando não há liberação do crédito por parte da administradora do cartão. Em caso de dúvidas,
              consulte o CALM (Central de Atendimento [NOME DA SUA EMPRESA AQUI]) por telefone [TELEFONE AQUI] ou pelos
              outros meios de atendimento disponibilizados. </p>

            <p> </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              5. CADASTRO DE CLIENTE
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <p> </p>

            <p><strong>Como criar uma Conta de Acesso? </strong></p>

            <p> </p>

            <p>Você pode se cadastrar clicando aqui e preenchendo o cadastro de Cliente. A criação de uma Conta de
              Acesso vai facilitar sua navegação no site. </p>

            <p> </p>

            <p><strong>Como faço para receber as Ofertas da [NOME DA SUA EMPRESA AQUI]? </strong></p>

            <p> </p>

            <p>Você pode criar uma Conta de Acesso, como indicado na questão anterior, ou simplesmente indicar seu
              e-mail e seu CEP em uma caixa de cadastro rápido, como essa: </p>

          </div>
        </div>
      </div>
    </div>


    <!-- /FQA -->

    <!-- Form -->
    <div class="container-fluid mt-5">

      
        <h4 class=" text-center text-success">Entre em contato</h4>
   
      
      <hr>
      <div class="row d-flex">
        <div class="col-md-6 mb-5">

          <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
          </div>
          <div class=" mt-3 mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
          </div>
          <div class=" mt-3 mb-3">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="assunto" class="form-control" id="exampleFormControlInput1" placeholder="Assunto">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
          </div>

          <button type="submit" class="btn btn-block btn-success mb-4">Enviar</button>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="https://i.imgur.com/fWAnFfN.gif" alt="" width="500px" height="500px">
          
        </div>



      </div>

    </div>


    <!-- /Form -->
  </div>


</body>

</html>