
<!-- Como um link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand pl-5" href="#"><h1>MadeInRoça</h1></a>
  </nav>



<div class="container-fluid">
    <div class="row justify-content-center d-flex align-items-center row-externa">
        <div class="col-md-5 mb-5 mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 align-items-center card-forms mx-5">
                    
                    <h1 class="text-start">Entrar</h1>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" name="email" id="email"
                        placeholder="Digite seu e-mail">
                    </div>

                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                        placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-success">Acessar</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5 mb-5-mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 align-items-center card-forms m-5">
                    
                    <h1 class="text-start">Cadastrar</h1>

                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input class="form-control" type="text" name="nome" id="nome"
                        placeholder="Digite seu nome completo">
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input class="form-control" type="text" name="email" id="email"
                        placeholder="Digite seu e-mail">
                    </div>

                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                        placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        <select name="tipo" class="form-control" id="tipo">
                            <option>Selecione um tipo de usuário</option>
                            <option value="cliente">Cliente</option>
                            <option value="produtor">Produtor</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-success">Cadastrar nova conta</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
