<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-circle" src={{usuario.foto}} alt="">
                    
            </div>
        </div>
        <div class="col-md-6">
            
            <nav>
                <div class="nav nav-tabs justify-content-center d-flex mt-4" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-perfil-tab" data-toggle="tab" href="#nav-perfil" role="tab" aria-controls="nav-perfil" aria-selected="true">Dados Pessoais</a>

                  


                  <a class="nav-item nav-link" id="nav-produtos-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Seus produtos</a>


                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"></a>
                </div>
              </nav>
              
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome"
                        placeholder="Insira seu nome completo">
                    </div>
        
                    <div class="form-group">
                        <label for="Email">E-mail</label>
                        <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="email" id="email"
                        placeholder="Insira seu e-mail">
                    </div>
        
                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
                        placeholder="Digite sua senha">
                    </div>
        
                    <div class="form-group">
                        <label for="confirmSenha">Confirmar Senha</label>
                        <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">
                    </div>
        
                        <div class="form-group">
                    <label for="foto">Foto</label>
                                        
                        <input [(ngModel)]='usuario.foto' name="foto" class="form-control" id="foto" 
                        placeholder="Insira o link da sua foto">
                                            
                                        
                                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        
                        <select name="tipo" class="form-control" id="tipo" (change) = 'tipoUser($event)'>
                            <option>Selecione um tipo de usuário</option>
                            <option value="cliente">Cliente</option>
                            <option value="produtor">Produtor</option>
                        </select>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...


                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
              </div>
           
             
        </div>
    </div>
</div>