.box-container{
    border-radius: 10px;
    background-color: #fff;
}

.card-saiba-mais-barra{
    height: 25px;
    margin: 0;
    background-color: #0E5411;
    border-radius: 10px 10px 0 0;
}

.card-saiba-mais-corpo{
    border-radius: 10px;
    border: #000 solid 1px;
}

.card-svg{
    height: 75px;
    padding: 0;
}

.equipe-e-parceria{
    background-color: #0E5411;
    color: white;

}

.equipe-e-parceria h1{
    font-size: 48px;
    position: relative;
    top: 20px;
}

.equipe-e-parceria h2{
    font-size: 40px;
}

.equipe-e-parceria svg{
    height:  150px;
}

.btn-produtos{
    position: relative; 
    top: 140px;
}

.card-produto{
    overflow: hidden;
    color: #0E5411;
    max-width: 250px; 
    max-height: 300px;
}

.card-produto h5, .card-produto p{
    color: #0E5411;
    text-decoration:dashed;
    
}

.card-produto img {
	max-width: 100%;
	transition: 0.7s ease;
}

.card-produto:hover img{
    transform: scale(1.2);
}

.card-header{

    border: #0E5411 solid 1px;
}

.btn-link{
    color: #fff;
}


.negrito {
    font-weight: bold;
}

.efeitoFruta {
    transition: all 0.5s;
    cursor: pointer;
}

.efeitoFruta:hover {
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,.5));
}

.promo-icon{
    max-width: 25px;
}

.btn-parceria{
    background: white;
    color: #0E5411;
}

.btn-parceria:hover{
    background: rgb(218, 218, 218);
}

.color-green{
    color: #0E5411;
}

.fa-arrow-circle-right, .fa-arrow-circle-down{
    font-size: 2rem;
    color: #0E5411;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-arrow-circle-down{
    display: none;
}

.number-como-funciona{
    border-radius: 10px;
    background-color: #8EA676; 
    color: #0E5411;
    width: fit-content;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.img-como-funciona{
    
    align-self: center;
}

.card-sobre{
    background-color: white;
    border: solid 1px;
    margin: 15px 5px 5px 5px;
    width: 13rem; 
}

.cesta-card-img{
    display: flex;
}

.img-product-single{
    border:#C4C4C4 solid 1px;
    border-radius: 5px;
}

.title-prod-rel{

    color: #402222;
    margin-left: 30px;
}

.descricao-produto{
    font-family: 'Public Sans', sans-serif;
    font-style: italic;
    max-width: 600px;
}

.btn-comprar-carousel{
    background-color: #57732D;
    border: solid 2px #57732D;
    color: white;

}

.form-group{
    border-radius: 5px;
}



@media (max-width: 768px){
    .cesta-card-img{
        display: none;
    }
}

h3{
    font-size: 45px;
}


@media (max-width: 768px){

    .equipe-e-parceria svg{
        display: none;
    }

    .como-funciona{
        flex-direction: column;
    }

    .fa-arrow-circle-right{
        display: none;
    }

    .fa-arrow-circle-down{
        display: block;
    }

    .sobre-cards{
        flex-direction: column;
    }

    .fa-arrow-circle-right, .fa-arrow-circle-down{
        margin: 0;
    }
}


 .carousel-promo{

    height: 80px;
    width: auto;
    position:absolute;
    top: 30%;

}

.btn-next, .btn-prev{
     border-radius: 100px;
     background-color: rgba(97, 95, 95, 0.384);
     height: 25px;  
 
} 

.form-group{
    border-radius: 5px;
}



