.link {
    text-decoration: none;
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    border-left: 4px;
  }
  
.link:hover{
    padding-left: 30px;
    border-left: 4px solid blueviolet;
    color: blueviolet;
    transition: .4s;
}