

.login-cesta svg{ 
    max-width: 35px;
    max-height: 33px;
    fill: white;
}

.login-cesta{
    color: white;
}

.login-cesta:hover{
    cursor:pointer;
    color:#c5c9ce;
}

a{
    color: white;
}


@media(max-width: 700px){
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    ul{
        margin-right: 48px;
    }
}



