<!--Rodapé-->
<footer>
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6">
          <h4 class="mt-2" style="color: green;">Formas de pagamento</h4>
          <div class="d-flex">
            <img class="img-fluid d-flex american-express ml-3" src="../../assets/img/american-express.png"
              alt="american-express">
            <img class="paypal ml-3 img-fluid" src="../../assets/img/paypal.png" alt="paypal">
            <img class="mastercard ml-3 img-fluid" src="../../assets/img/mastercard.png" alt="mastercard">
            <img class="visa ml-3 img-fluid" src="../../assets/img/visa.png" alt="visa">
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="row d-flex">
              <h4 class="mt-2" style="color: green;">Siga-nos nas redes sociais</h4>
                  
            </div>
          </div>
      </div>
    </div>
    <div class="footer-copyright corRodape text-center py-3">
      <span class="text-light" style="color: #FFFFFF;">MadeInRoça | 2021 Copyright &copy; </span>
  
    </div>
    <!--/Rodapé-->
  </footer>
